__pycache__
*venv
*.pyc
**/.github/*
**/*.env


!.env.sample

todo.md

node_modules/*
dist/*
package-lock.json
.vite
.DS_Store
.idea/*
*.log

*/temp/*
graphify-out
.graphify*
node_modules/

backend/data/output/*
